<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ $.Site.Title }}
    {{ end }}</title>
	{{ partial "style.html"}}
  </head>
  <body>
	{{ block "header" .}}
	<a href="/" style="text-decoration: none;"><h1>{{ $.Site.Title }}</h1></a>
	{{ partial "nav.html" }}
	{{ if .IsHome }}
	<p>{{ $.Site.Params.Description | safeHTML}}</p>
{{ end }}    
	<p>{{.Params.Intro}}</p>
	{{end}}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
	{{ block "footer" .}}
{{partial "footer.html"}}	
{{end}}
  </body>
</html>