<style>
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;

    }
    body {
		font-family:sans-serif;
        text-align:center;
        padding:20px ;
        margin:0 auto;
        height: auto;
        background: black;
        color: white;
        font-size: 1.2rem;
    }
    main {
        max-width:600px;
        margin: 2rem auto;

    }
    svg,img {
        max-width: 100%;
        margin-bottom: 40px;
    }
    ul {
        padding: 0;
        margin: 5rem auto;

    }

    li {
        list-style-type: none;
        margin-bottom: 6rem;
    }
    nav {
        position: sticky;
        top: 20px;
        mix-blend-mode: difference;
        color: white;
    }
    
    a {
        color: white;
    }

    footer {
        margin: 15vh 0;
    } 
</style>