<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{{ $.Site.Title }}</title>
{{ partial "style.html"}}

</head>
<body>
	<h1>{{ $.Site.Title }}</h1>
	<p>{{ $.Site.Params.Description | safeHTML}}</p>

	<p>{{.Params.Intro}}</p>
	{{ partial "nav.html" . }}
	{{ range (where .Site.RegularPages "Section" "artworks") }}     <li>
		<a href="{{.Permalink}}"><img src="{{.Params.Image}}"/></a>
		<br>
		<i>{{.Params.Artwork_title}}</i>
		<a href="{{.Permalink}}"> <br> {{.Params.Artist_name}}</a>
	</li>
{{end}}
</body>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1062.8 1062.8"><path fill="#ededed" d="M315 184h457v426H315z" data-name="Layer 2"/>><path fill="#ffccc7" d="M487 610h285v264H487z"/><path fill="#2f3188" d="M315 715h172v159H315z"/><path fill="#34393d" d="M315 610h114v106H315z"/><path fill="#f9a52b" d="M429 610h58v52h-58z"/><path fill="#fff" d="M429 662h58v54h-58z"/></g></svg>
</body>
</html>