<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{{ $.Site.Title }}</title>
{{ partial "style.html"}}

</head>
<body>
	<h1>{{ $.Site.Title }}</h1>
	<p>{{ $.Site.Params.Description | safeHTML}}</p>

	<p>{{.Params.Intro}}</p>
	{{ partial "nav.html" . }}
	{{ range (where .Site.RegularPages "Section" "artworks") }}     <li>
		<a href="{{.Permalink}}"><img src="{{.Params.Image}}" loading="lazy"/></a>
		<br>
		<i>{{.Params.Artwork_title}}</i>
		<a href="{{.Permalink}}"> <br> {{.Params.Artist_name}}</a><br>
		filesize: 789bytes<br>
		format: svg
		</li>
	</li>
{{end}}
</body>
</body>
</html>